*,
*::before,
*::after {
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;

  --container-padding: 16px;
  --container-max-width: 1280px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: var(--container-max-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.section {
  padding: 40px 0;
  text-align: center;
}

@media (min-width: var(--breakpoint-mobile)) {
  body {
    font-size: 16px;
  }
}

@media (min-width: var(--breakpoint-tablet)) {
  body {
    font-size: 18px;
  }

  .section {
    padding: 60px 0;
  }
}

@media (min-width: var(--breakpoint-desktop)) {
  body {
    font-size: 20px;
  }

  .container {
    max-width: 1320px;
  }
}